.accordian-main {
    cursor: pointer;
    display: inline-block;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-size: 14px;
    background-color:#0077ED;
    border: none;
    border-radius: 10px;
  
    padding: 10px;
    color: azure;
  }
  
  .list-styles {
    list-style-type: circle;
  }
  
  .image-style1 {
    width: 3em;
    border-radius: 10px;
  }