.contact-jumbotron {
   background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: black;
    padding-bottom: auto;
    margin-top: 0cm;
    margin-top: 0cm;
  }
 
 
