.footer-style {
    background-color: #000000;
    color: beige;
    font-size: 1.5em;
    border: 1px solid #000000;
   border-radius: 5px;
  }

  .footer {
    background-position: center;
    justify-content: center;
    border-radius: 5px;
  }